@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


:root {
    --abyss-black: #121212;
    --soft-black: #333;
    --white: #fff;
    --soft-white: #e3e3e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: 
        url('https://source.unsplash.com/random?seattle');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    place-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.city {
    text-align: center;
    font-size: 2.6em;
}

.temp {
    align-self: center;
    font-size: 2.2em;
}

.humidity {
    padding-bottom: .4rem 1rem;
}

.weather {
    padding: 1rem;
    border-radius: 1rem;
    
    font-family: Ubuntu;
}

.search {
    display: flex;
}

button {
    cursor: pointer;
}

.search-icon {
    transform: translateX(-20px);
    outline: none;
    border: none;
    background-color: inherit;
}

.search-icon svg {
    display: flex;
}

.search-bar {
    text-align: center;
    background-color: transparent;
    border-radius: 1rem;
    border: none;
    min-width: 100%;
    padding: .4rem 1rem;
}

.search-bar:hover {
    cursor: pointer;
    /* on hover, increase width */
}

@media (prefers-color-scheme: dark){
    body {
        background-color: var(--abyss-black);
    }
    .title {
        color: var(--soft-white);
    }
    .weather {
        background-color: var(--abyss-black);
    }
    .weather > * {
        color: var(--soft-white);
    }
    .search-bar {
        color: var(--soft-white);
        background-color: var(--soft-black);
    }

}
@media (prefers-color-scheme: light){
    body {
        background-color: var(--soft-white);
    }
    .title {
        color: var(--abyss-black);
    }
    .weather {
        background-color: var(--soft-white);
    }
    .weather > * {
        color: var(--abyss-black);
    }
    .search-bar {
        color: var(--abyss-black);
        background-color: var(--white);

    }
}